@import "../../assets/styles/_variables";
@import "../../assets/styles/_mixins";

%card-border {
  border: 1px solid $light-grey;
  padding: 5px;
}

.products {
  @include flex;
  margin-top: 30px;
  text-align: center;

  .productsItem {
    margin-right: 20px;
    background-color: $yellow;
    padding: 10px;
    @extend %card-border;

    @include border-radius(10px);

    &_subtitle {
      margin-bottom: 15px;
      @include title;
    }
    &__price {
      color: $green;
      margin: 15px 0;
      @extend %card-border;

      &-sale {
        font-size: 18px;
      }
        &::after {
          content: attr(data-sale);
          margin-left: 15px;
          color: $red;
        }
    }

    &__btn {
      background-color: $grey;
      @include myBorder($red, 2px);

      &-loading {
        background: $light-grey;
        cursor: wait;
      }
      &-done {
        background: $green;
      }
    }
  }
}
